In [1]:
from IPython.display import HTML
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
The raw code for this notebook is by default hidden for easier reading.
To toggle on/off the raw code, click <a href="javascript:code_toggle()">here</a>.''')

In [1]:
tbl<-read.table('./asszoc3.csv',header = F)
ncol<-dim(tbl)[2]
nrow<-dim(tbl)[1]
srow<-rowSums(tbl)
scol<-colSums(tbl)
tbl=cbind(tbl,srow)
tbl=rbind(tbl,scol)
colnames(tbl)=c("nyugdíj","jobb munka","alkalmatlan","összes")
rownames(tbl)=c("nő","férfi","összes")
N<-sum(srow)
tbl[nrow+1,ncol+1]<-N
tbl

       nyugdíj jobb munka alkalmatlan összes
nő      60     70         10          140
férfi   40     10         10           60
összes 100     80         20          200

Cramér-együttható:
$$
\chi^2=\sum_{i,j}\frac{(f_{i,j}-f^{*}_{i,j})^2}{f^{*}_{i,j}}
$$
$$
C^2=\frac{\chi^2}{N\min(r-1,c-1)}\hspace 2cm 0\le C\le 1
$$

C: a kapcsolat erőssége $[0,1]$ skálán mérve.<br>
* <0.3 gyenge
* 0.3 - 0.7 közepes
* \>0.7 erős

másképp: ha tudjuk az *egyik* ismérv szerinti értéket, hány százalékkal nő átlagosan a *másik* ismérv szerinti értékről a "tudásunk".

az $f^{*}$ táblázat:

In [40]:
cstbl=tbl
for(i in 1:nrow){
    for(j in 1:ncol){
        cstbl[i,j]<-srow[i]*scol[j]/N
    }
}
cstbl[1:nrow,1:ncol]

         0-6      6-14    14 felett
magyar   176.1996 81.8956 12.90476
külföldi 178.8004 83.1044 13.09524

a $\chi^2$ táblázat:

In [41]:

for(i in 1:nrow){
    for(j in 1:ncol){
        cstbl[i,j]<-(cstbl[i,j]-tbl[i,j])^2/cstbl[i,j]
    }
}
cstbl[1:nrow,1:ncol]

         0-6       6-14      14 felett
magyar   0.1909439 0.9662518 0.7424003
külföldi 0.1881666 0.9521973 0.7316017

In [48]:
khi2=sum(cstbl[1:nrow,1:ncol])
C=sqrt(khi2/(N*min(nrow-1,ncol-1)))
print.noquote(sprintf("C=%f",C))

[1] C=0.083112